@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
   background: linear-gradient(180deg, #FFFFFF 0%, #31405D 51.04%, #141A25 98.44%);
   background-repeat: no-repeat;
   font-family: Inter;
   font-weight: 900;
   font-size: 16px;
   padding: 0;
   margin: 0;
   position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  -webkit-animation: fadein 2s;
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  min-width: 85%;
  margin: 3% 0 0 4%;
  text-decoration: none;
}
.navbar-logo img{
  width: 10vw;
}

.nav-link {
  text-decoration: none;
  margin-left: 5%;
  color: #1D2638;
  align-self: center;
  font-size: 1.3vw;
}

.nav-link:hover {
  color:#D79404;
  transition: .5s;
}

.navbar-lang {
  margin: 3% 7% 1% 1.5%;
}

.navbar-lang a {
  text-decoration: none;
  color: inherit;
}

.navbar-lang a:hover {
  color: #D79404;
  transition: .5s;
  cursor: pointer;
}

.navbar-lang .iconify {
  font-size: 3vw;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: #1D2638;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Home banner */
#home {
  position: relative;
  min-height: 50vw;
  -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.banner-title {
  position: absolute;
  top: 0;
  left: 15%;
  color: #1D2638;
  font-size: 4vw;
  padding: 0;
  transition: transform .5s;
}

.banner-title h1 {
  margin-top: 8%;
}

.banner-title:hover {
  transform: scale(1.05);
}

.banner-image {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: auto;
  height: 1%;
}

.banner-info {
  position: absolute;
  top: 20%;
  right: 10%;
  color: #1D2638;
  font-size: 1.2vw;
} span {
  color: #D79404;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #1D2638;
  font-size: 3vw;
}

.banner-text h2 {
  margin: 1%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 250%;
  animation: shine 1.5s infinite;
  width: 100%;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -60%;
  }
}

.banner-button {
  position: absolute;
  top: 68%;
  left: 30%;
  padding: 2% 8%;
  background-color: white;
  text-decoration: none;
  color: #AF7500;
  font-size: 1.5em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform .5s;
  z-index: 100;
}

.banner-button:hover {
    transform: scale(1.2);
}

.year {
  position: absolute;
  left: 95%;
}

.year p {
  writing-mode: tb-rl;
  font-weight: 400;
  font-size: 1vw;
}

.banner-image {
  position: absolute;
  top: 40%;
  left: 60%;
}

.banner-arrow {
  position: absolute;
  bottom: 20%;
  left: 10.5%;
  display: flex;
  flex-direction: column;
}

.banner-line-vertical {
  position: absolute;
  border-left: 1px solid black;
  height: 120vh;
  top: 40vh;
  left: 10%;
  z-index: 100;
}

.banner-line-horizontal-one {
  position: absolute;
  border-top: 1px solid black;
  width: 45vw;
  right: 0;
  top: 70%;
}

.banner-line-horizontal-two {
  position: absolute;
  border-top: 1px solid black;
  width: 45vw;
  right: 0;
  top: 80%;
}

.banner-line-horizontal-three {
  position: absolute;
  border-top: 1px solid black;
  width: 45vw;
  right: 0;
  top: 90%;
}

/* Servicios */
#servicios {
  background: white;
  position: relative;
  padding-bottom: 10%;
}

.down-icon {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
  flex-direction: column;
}

.servicios-title h2 {
  color: #D79404;
  font-size: 4.5vw;
  padding: 10% 0 0 15%;
  margin-bottom: 7%;
}

.servicios-line-horizontal {
  position: absolute;
  border-top: 1px solid black;
  width: 100vw;
  top: 12%;
}

.servicios-container {
  display: flex;
  justify-content: space-around;
  margin: 0 15%;
}

.servicios-produccion {
  width: 40%;
}

.servicios-produccion h4 {
  color: #31405D;
  font-size: 2vw;
  text-align: center;
}

.servicios-produccion p {
  font-weight: 400;
  font-size:  1.15vw;
  text-align: justify;
  line-height: 32px;
}

.servicios-produccion .iconify {
  position: relative;
  left: calc(50% - 0.5em);
  font-size: 7vw;
  color: #d79404;
}

.servicios-mezcla {
  width: 40%;
}

.servicios-mezcla h4 {
  color: #31405D;
  font-size: 2vw;
  text-align: center;
}

.servicios-mezcla p {
  font-weight: 400;
  font-size:  1.15vw;
  text-align: justify;
  line-height: 32px;
}

.servicios-mezcla .iconify {
  position: relative;
  left: calc(50% - 0.5em);
  font-size: 7vw;
  color: #d79404;
}

/* Sobre mi */

#sobremi {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  margin: 5% 0;
  position: relative;
}

.sobre-mi-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.5fr 0.5fr;
  gap: 8% 4%;
  grid-template-areas:
    "one one"
    "two three"
    "four five";
  grid-area: 1 / 1 / 2 / 2 / 3 / 3;
  padding: 10% 5%;
}

.one {
  grid-area: one;
  justify-self: center;
  align-self: center;
}

.one img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.two {
  grid-area: two;
  justify-self: center;
  align-self: center;
 }

 .two img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.three {
  grid-area: three;
  justify-self: center;
  align-self: center;
}

.three img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.four {
  grid-area: four;
  justify-self: center;
  align-self: center;
}

.four img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.five {
  grid-area: five;
  justify-self: center;
  align-self: center;
}

.five img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.sobre-mi-text {
  background: white;
  position: relative;
  height: 120%;
}

.sobre-mi-text h2 {
  text-align: right;
  margin: 7% 10% 5% 0;
  font-size: 4vw;
  color:#31405D;
}

.sobre-mi-text h3 {
  margin: 5% 12%;
  font-size: 2vw;
  color: #D79404;
}

.sobre-mi-text p {
  margin: 0 12%;
  font-size: 1.15vw;
  font-weight: 400;
  text-align: justify;
  line-height: 4vw;
}

.sobre-mi-button {
  position: absolute;
  bottom: 15%;
  right: 15%;
  padding: 2% 8%;
  background-color: #2C3A54;
  text-decoration: none;
  color: #D79404;
  font-size: 2vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform .5s;
}

.sobremi-line-horizontal {
  position: absolute;
  border-top: 1px solid black;
  width: 100vw;
  top: 110%;
}

.sobre-mi-button:hover {
  transform: scale(1.2);
}

/* Trabajo */
#trabajo {
  margin: 15% 0%;
  color: #D79404;
}

#trabajo h2 {
  text-align: center;
  font-size: 4vw;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

.card {
  background: white;
  padding: 1%;
}

.song-container {
  position: relative;
  width: 20vw;
}

.song-container img {
  width: 100%;
  height: 100%;
}

.song-info {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 1vw;
  color: #1D2638;;
  font-weight: 400;
}

audio {
  width: 20vw;
}

/* Opiniones */

#opiniones {
  margin-top: 10%;
  color: #D79404;
  min-height: 45vw;
}

#opiniones h2 {
  text-align: center;
  font-size: 4vw;
}

/* Carousel */

.carousel-container {
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 40vw;
  height: 60vh;
  background-color: white;
  box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.5);
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.item-info {
  display: flex;
}

/* Contacto */

#contacto {
  background: white;
  position: relative;
  padding-bottom: 10%;
}

#contacto h2 {
  text-align: center;
  color: #D79404;
  font-size: 4vw;
  padding-top: 5%;
  margin-bottom: 0;
}

.sub-contacto p {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 5%;
  font-weight: 400;
  color: #9a9a9a;
}

.contacto-horizontal-line {
  position: absolute;
  border-top: 1px solid black;
  width: 100vw;
  top: 30%;
}

.contacto-vertical-bottom-line {
  position: absolute;
  border-left: 1px solid black;
  height: 20vh;
  bottom: 0;
  right: 10%;
  z-index: 100;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.contact-info {
  grid-column-start: 1;
  grid-column-end: 3;
  background: #31405D;
  padding: 5% 12% 5% 8%;
}

.contact-info h3 {
  color: white;
  font-size: 2.5vw;
}

.contact-info p {
  color: #e5e5e5;
  font-weight: 400;
  font-size: 1.3vw;
  margin: 0;
}

.contact-form {
  grid-column-start: 3;
  grid-column-end: 5;
}

.contact-email, .contact-location {
  display: flex;
  margin: 12% 0;
}

.contact-location {
  margin-bottom:  30%;
}

.contact-email .iconify, .contact-location .iconify {
  padding:  0;
  align-self:: center;
  text-decoration: none;
  color: #d79404;
  margin-right: 3%;
  font-size: 1.5vw;
}

.contact-sns a {
  text-decoration: none;
  color: white;
  margin-right: 3%;
  padding: 3% 3% 2% 3%;
  font-size: 2vw;
}

.contact-sns a:hover {
  background: #d79404;
  border-radius: 50%;
}

/* Form */
.form {
  display: block;
  text-align: center;
  padding: 5%;
}

#form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#form-inputs {
  border: none;
}

input[type="text"], input[type="email"],
button, textarea {
  padding: 1em 0;
  border:  none;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 1em;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI",
                "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                "Fira Sans", "Droid Sans", "Helvetica Neue",
                Arial, sans-serif;
  font-size: 1.5vw;
}

input[type="text"], input[type="email"] {
  width: 20vw;
}

input[type="text"]:focus, input[type="email"]:focus {
  outline: none !important;
  border: none;
  border-bottom: 2px solid #D79404;
}

input[type="submit"] {
  padding: 1.5vw;
  border:  none;
  margin-left: 36vw;
  font-size: 1.1vw;
}

input[type="submit"]:hover {
  background-color: #D79404;
  color: white;
  cursor: pointer;
}

textarea {
  width: 45vw;
  resize: none;
}

textarea:focus {
  outline: none !important;
  border: none;
  border-bottom: 2px solid #D79404;
}

.rowone-form {
  display: flex;
  margin-bottom: 10%;
}

.name-form label,  .email-form label, .rowtwo-form label{
  color: #1D2638;
  font-size: 1.5vw;
}

.name-form label:focus-within, .email-form label:focus-within, .rowtwo-form label:focus-within{
  color: #D79404;
}

.name-form input[type="text"] {
  display: block;
}

.name-form {
  margin-right: 5vw;
}

.email-form input[type="email"] {
  display: block;
}


/* Footer */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 5% 5%;
}

.footer-links {
  display: flex;
  align-items: center;
  color: #D79404;
}

.footer-links a {
  color: #D79404;
  text-decoration: none;
  font-size: 2vw;
  padding: 0px 15%;
}

.footer-links a:hover {
  opacity: 1;
  color: white;
}

.footer-copyright {
  color: #D79404;
  font-weight: 400;
  font-size: 1.15vw;
}
