<div class="form">
  <form id="form" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xeqvlzvp" method="post">
    <fieldset id="form-inputs">
      <div class="rowone-form">
          <div class="name-form">
            <label for="text">Nombre
              <input type="text" name="name" id="full-name" placeholder="Your name" required="">
            </label>
          </div>
          <div class="email-form">
            <label for="email">Email
              <input type="email" name="_replyto" id="email-address" placeholder="Your email" required="">
            </label>
          </div>
      </div>
      <div class="rowtwo-form">
        <label for="message">Mensaje
        <textarea name="message" placeholder="Escribe tu mensaje aquí..." rows="2"></textarea>
        </label>
      </div>
    <input type="checkbox" required value="checkbox"> <label for="cbox">He leído y acepto la <a href="../politicaprivacidad">Política de Privacidad</a></label>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
    </fieldset>
    <input type="submit" value="Enviar mensaje">
  </form>
</div>
