    <div class="navbar">
        <div class="navbar-links">
            <a class="navbar-logo" href="#">
                <img src="/assets/images/ellipse.png"/>
            </a>
            <a class="nav-link" href="../english/#home">Home</a>
            <a class="nav-link" href="../english/#servicios">Services</a>
            <a class="nav-link" href="../english/#sobremi">About me</a>
            <a class="nav-link" href="../english/#trabajo">Work</a>
            <a class="nav-link" href="../english/#opiniones">Reviews</a>
            <a class="nav-link" href="../english/#contacto">Contact</a>
        </div>
        <div class="navbar-lang tooltip">
          <a href="{{ include.src }}">
            <span class="iconify" data-inline="false" data-icon="fontisto:world-o"></span>
            <span class="tooltiptext">Español</span>
          </a>
        </div>
    </div>
