<div class="navbar">
        <div class="navbar-links">
            <a class="navbar-logo" href="../index">
                <img src="/assets/images/ellipse.png"/>
            </a>
            <a class="nav-link" href="../index/#home">Home</a>
            <a class="nav-link" href="../index/#servicios">Servicios</a>
            <a class="nav-link" href="../index/#sobremi">Sobre mí</a>
            <a class="nav-link" href="../index/#trabajo">Trabajos</a>
            <a class="nav-link" href="../index/#opiniones">Opiniones</a>
            <a class="nav-link" href="../index/#contacto">Contacto</a>
        </div>
        <div class="navbar-lang tooltip">
          <a href="{{ include.src }}">
            <span class="iconify" data-inline="false" data-icon="fontisto:world-o"></span>
            <span class="tooltiptext">English</span>
          </a>
        </div>
    </div>
