<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/purecookie.css"/>
    <title>Dani Salat</title>
    <link rel="shortcut icon" href="assets/favicon.png">
</head>
<body>
  {{ content }}
    <div id="footer">
        <div class="footer-copyright">
          © Dani Salat
          <br>
          Barcelona
        </div>
        <div class="footer-links">
          <a href="https://www.youtube.com/channel/UCS13MmmbbiE4PmsZVURWVrQ"><span class="iconify" data-inline="false" data-icon="ant-design:youtube-outlined"></span></a>
          <a href="https://www.instagram.com/danisalat/"><span class="iconify" data-inline="false" data-icon="ant-design:instagram-outlined"></span></a>
        </div>
    </div>
</body>

</html>
